<head>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link id="cssStyle" rel="stylesheet" href="" />
	<script src="~/ckeditor5-34.2.0-c7r9rpf8k3wn/build/ckeditor.js"></script>
</head>

<style>
	#logout {
		cursor: pointer;
		color: #706139;
		text-decoration: none;
		height: 25px;
		margin-left: 850px;
		margin-right: 30px;
	}

	li {
		cursor: pointer;
	}

	#contentDiv {
		height: 30px;
	}

	.wrapper_header {
		margin-top: 50px;
		margin-bottom: 10px;
	}

	.wrapper_1 label:not(:nth-child(1)) {
		padding-left: 20px;
	}

	.wrapper_1 {
		height: 60px;
		margin-right: 20px;
	}

	.imgbox {
		width: 200px;
	}

	#editor {
		height: 500px;
		margin-bottom: 10px;
	}

	.ck.editor__editable[role='textbox'],
	.ck.ck-editor__editable[role='textbox'],
	/* Inline & Balloon build. */
	.ck.editor[role='textbox'] {
		padding: 0px 224px;
		width: 100%;
		font-size: 21px;
		background: #fff;
		min-height: var(--ck-sample-editor-min-height);
	}
</style>

<body>
	<header class="d-flex heardDiv justify-content-end">
		<div class="d-flex align-items-center">
			<h1>後台管理</h1>
			<button class="d-flex align-items-center" id="logout">登出</button>
		</div>
	</header>
	<section class="section-one d-flex">
		<ul class="menu">
			<li id="Activity">活動管理</li>
		</ul>
		<div id="detail">
		</div>
	</section>
</body>


<script>
	$(function() {
		Logout();
		$("#Activity").click(function() {
			$("#cssStyle").attr("href", "/css/ActivityManage.css");

			LoadData();
		});
	});

	function LoadData() {
		$("#detail").empty();
		$.getJSON("@Url.Content("~/api/ActivityManage")", function(data) {
			$("#detail").append
				(
					`<header class="d-flex">
																<input id="search-text" placeholder="輸入標題查詢">
																<div class="d-flex" id="count"></div>
																<a id="showActivity" href="/Activity/Index">活動顯示</a>
																<button id="create">新增活動</button>
														</header>
															<div>
																<table>
																	<thead>
																		<tr>
																		<th class="picture">預覽</th>
																		<th class="title">標題</th>
																		<th>開始日期</th>
																		<th>結束日期</th>
																		<th>修改日期</th>
																		<th></th>
																		</tr>
																		<tbody id="content"></tbody>
																	</thead>
																</table>
																</div>`
				);
			$.each(data, function(index, value) {
				Display(value);
			});
			$("#count").text(`共${data.length}筆`);

			$("#search-text").on("input", function() {
				$("#content").empty();
				let count = 0;
				let searchText = this.value;
				$.each(data, function(index, value) {
					if (value.title.toLowerCase().indexOf(searchText.toLowerCase()) >= 0) {
						count++;
						Display(value);
					}
				});

				$("#count").text(`共${count}筆`);
			});
		})
			.then((res) => {
				Delete();
			})
			.then((res) => {
				Edit();
			})
			.then((res) => {
				CreateDetail();
			});
	}

	function Display(value) {
		$("#content").append
			(
				`<tr>
							<td>
								<img src="/${value.thumbnail}" />
							</td>
							<td>${value.title}</td>
							<td>${value.startDate}</td>
							<td>${value.endDate}</td>
							<td>${value.modifiedDate}</td>
							<td>
							<button class="edit" value=${value.id}>編輯</button>
							<button class="delete" value=${value.id}>刪除</button>
							</td>
						</tr>`
			)
	}

	function Delete() {
		$(".delete").on("click", function() {
			let r = confirm("確定要刪除嗎?");

			if (r == true) {
				let apiUrl = `api/ActivityManage/${this.value}`;

				$.ajax({
					url: apiUrl,
					method: "Delete",
					contentType: "application/json",
					success: function(data) {
						if (data != 0) {
							alert("刪除成功");
						}

						else {
							alert("刪除失敗");
						}

						LoadData();
					}
				});
			}
		});
	}
	function CreateDetail() {
		$("#create").on("click", function() {
			$("#detail").empty();
			$("#detail").append
				(
					`
							<form id="postForm">
							<div class="wrapper_header d-flex">
							<div class="wrapper_1 d-flex">
									<label>標題：</label>
										<div>
											<input name="title" id="title" />
											<div id="titleDiv"></div>
										</div>
										<label>開始日期：</label>
										<div>
											<input name="startDate" id="startDate" placeholder="1990-01-01" />
											<div id="startDateDiv"></div>
										</div>
										<label>結束日期：</label>
									<div>
										<input name="endDate" id="endDate" placeholder="1990-01-01" />
										<div id="endDateDiv"></div>
									</div>
							</div>
							<div class="wrapper_2 d-flex">
									<label>預覽圖片：</label>
									<div class="imgbox">
										<img id="preview" />
									</div>
									<div>
										<input type="file" name="imageFile" id="imageFile" accept="image/jpeg,image/png" />
										<div id="imageFileDiv"></div>
									</div>
							</div>
							</div>
							<div class="document-editor__toolbar">
							</div>
							<div id="editor">
							</div>
							<div id="contentDiv">
							</div>
							<div>
							<button id="submit">送出</button>
							</div>
							</form>
							`
				);

			CkEditor();
			Preview();
			Authorization();

			$("#submit").on("click", function(e) {
				e.preventDefault();

				let data = new FormData($("#postForm")[0]);
				let pass = submitAuthorization(data);
				if (pass) {
					$.ajax({
						url: "/api/ActivityManage",
						method: "Post",
						data: data,
						processData: false,
						contentType: false,
						success: function(data) {
							if (data != 0) {
								alert("新增成功");
							}

							else {
								alert("新增失敗");
							}

							LoadData();
						}
					});
				}
			});
		});
	}

	function Edit() {
		$(".edit").on("click", function() {
			let apiUrl = `/api/ActivityManage/${this.value}`;
			$.getJSON(apiUrl, function(data) {
				$("#detail").empty();
				$("#detail").append
					(
						`
						<form id="postForm">
							<div class="wrapper_header d-flex">
							<div class="wrapper_1 d-flex">
									<label>標題：</label>
										<div>
											<input name="title" id="title" value="${data.title}" />
											<div id="titleDiv"></div>
										</div>
										<label>開始日期：</label>
										<div>
											<input name="startDate" id="startDate" placeholder="1990-01-01" value="${data.startDate}" />
											<div id="startDateDiv"></div>
										</div>
										<label>結束日期：</label>
									<div>
										<input name="endDate" id="endDate" placeholder="1990-01-01" value="${data.startDate}" />
										<div id="endDateDiv"></div>
									</div>
							</div>
							<div class="wrapper_2 d-flex">
									<label>預覽圖片：</label>
									<div class="imgbox">
										<img id="preview" src="/${data.thumbnail}">
									</div>
									<div>
										<input type="file" name="imageFile" id="imageFile" accept="image/jpeg,image/png" />
										<div id="imageFileDiv"></div>
									</div>
							</div>
							</div>
							<div class="document-editor__toolbar">
							</div>
							<div id="editor">
							${data.content}
							</div>
							<div id="contentDiv">
							</div>
							<div>
							<button id="submit">送出</button>
							</div>
							</form>
							`
					);
				CkEditor();
				Preview();
				Authorization();
				Update(data.id);
			});
		});
	}

	function CkEditor() {
		DecoupledDocumentEditor
			.create(document.querySelector('#editor'), {
				simpleUpload: {
					uploadUrl: "/api/ActivityManage/ImageUpload"
				}
			})
			.then(editor => {
				window.editor = editor;
				document.querySelector('.document-editor__toolbar').appendChild(editor.ui.view.toolbar.element);
			})
			.catch(error => {
				console.error(error);
			});
	}

	function Preview() {
		$("#imageFile").change(function() {
			if (this.files && this.files[0]) {
                if (this.files[0].size > 4194304) {
                    alert("圖片大小不得超過4MB");
				}

				$("#imageFileDiv").text("");
				let reader = new FileReader();
				reader.onload = function(e) {
					$("#preview").attr("src", e.target.result);
				}
				reader.readAsDataURL(this.files[0])
			}

			else {
				$("#preview").removeAttr("src");
				$("#imageFileDiv").text("未上傳圖片").css("color", "red");
			}
		});
	}

	function Update(id) {
		$("#submit").on("click", function(e) {
			e.preventDefault();

			let data = new FormData($("#postForm")[0]);
            let pass = submitAuthorization(data);
			
            if (pass) {
                $.ajax({
                    url: `/api/ActivityManage/${id}`,
                    method: "Put",
                    data: data,
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        if (data != 0) {
                            alert("修改成功");
                        }

                        else {
                            alert("修改失敗");
                        }

                        LoadData();
                    }
                });
            }
		});
	}

	function Authorization() {
		$("#title").blur(function() {
			if (this.value == "") {
				$("#titleDiv").text("欄位空白").css("color", "red");
			}

			else {
				$("#titleDiv").text("")
			}
		});

		$("#editor").blur(function() {
			if ((editor.getData()) == "") {
				$("#contentDiv").text("欄位空白").css("color", "red");
			}

			else {
				$("#contentDiv").text("")
			}
		});

		$("#startDate").on("input", function() {
			let dateAuth = /^\d{4}\-\d{2}\-\d{2}$/;
			let startDate = this.value;

			if (!dateAuth.test(startDate)) {
				$("#startDateDiv").text("格式錯誤").css("color", "red");
			}

			else if (!Date.parse(startDate)) {
				$("#startDateDiv").text("日期錯誤").css("color", "red");
			}

			else {
				$("#startDateDiv").text("");
			}
		});

		$("#endDate").on("input", function() {
			let dateAuth = /^\d{4}\-\d{2}\-\d{2}$/;
			let endDate = this.value;

			if (!dateAuth.test(endDate)) {
				$("#endDateDiv").text("格式錯誤").css("color", "red");
			}

			else if (!Date.parse(endDate)) {
				$("#endDateDiv").text("日期錯誤").css("color", "red");
			}

			else {
				$("#endDateDiv").text("");
			}
		})
	}

	function submitAuthorization(data) {
		let dateAuth = /^\d{4}\-\d{2}\-\d{2}$/;
		let title = data.get("title");
		let startDate = data.get("startDate");
		let endDate = data.get("endDate");
		let content = editor.getData();
        let image = $("#preview").attr("src");
       
		if (title == "" || content == "" || !dateAuth.test(startDate) || !Date.parse(startDate) || !dateAuth.test(endDate) || !Date.parse(endDate) || image == null) {
			alert("資料錯誤");
			return false;
		}

		data.append("content", content);

		return true;
	}

	function Logout() {
		$("#logout").click(function(e) {
			e.preventDefault();

			$.post("/Account/Logout", function(res) {
			})
				.then(res => {
					location.assign("Index");
				})
				.catch(error => {
					alert("登出失敗");
				});
		});
	}
</script>
